* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.ui.container {
	overflow-y: scroll;
	position: relative;
	max-height: 80vh;
	scrollbar-width: none;

	/* display: none; */
}
.ui.container::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .example::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.App {
	text-align: center;
	align-items: center;
}
.ui.form {
	position: relative;
	max-width: 90%;
	margin: auto;
}

.ui.large.button {
	margin: .5%;
}

.ui.form button {
	margin: 1%;
}

.ui.form button {
	margin: 1%;
}

.ui.form.logout button {
	text-align: center;
	margin-bottom: 5%;
}

.ui.small.button {
	margin: .5%;
}

.style.head {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

#main_head h1 {
	font-family: 'Monofett', cursive;
	font-size: 70px;
	line-height: 80%;
	letter-spacing: .025em;
	margin: 3% 0 3% 0;
}

.ui.button:hover {
	color: #40e0d0;
}

.ui.form button:hover {
	color: #40e0d0;
}

hr {
	border-top: 1px;
	color: #141414;
}

/* .ui.container {
	margin-top: 20px;
	align-items: center;
} */
@media (max-width: 500px) {
}
