.App {
	text-align: center;
	align-items: center;
}

body {
	font-size: 16pt;
}
*:focus {
	outline: none;
}
.ui.large.button {
	margin: .5%;
}

.ui.form button {
	margin: 1%;
	font-size: 10pt;
	background: rgba(0, 0, 0, .15);
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	border: none;
	font-size: 10pt;
	color: rgb(54, 51, 51);
}

ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
	font-size: 25px;
}

.ui.small.button,
.submit {
	margin: .5%;
	font-size: 11pt;
}
a {
	font-size: 11pt;
}
h4 {
	margin-top: 0;
}
.style.head {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

#main_head h1 {
	font-family: 'Monofett', cursive;
	font-size: 70px;
	line-height: 80%;
	letter-spacing: .025em;
	margin: 3% 0 3% 0;
}

.ui.button:hover {
	color: #40e0d0;
}

.ui.form button:hover {
	color: #40e0d0;
}

hr {
	border-top: 1px;
	color: #141414;
}

.ui.container {
	margin-top: 20px;
	align-items: center;
}
@media (max-width: 500px) {
}
